body{
    background-color: rgba(2, 19, 88, 0.79);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: azure;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0 10px;
    color: white;
    border: none;
    cursor: pointer;
}
#start{
    background-color: #1abc9c;

}
#stop{
    background-color: #3498db;

}
#reset{
    background-color: #e74c3c;

}